extends layout


block content
    form(id='form', method='post', action='/login')
        label(for='username') <b> Username: </b>
        input(type="text" placeholder="Enter Username" name="username" required)
        br
        label(for='password') <b> Password: </b>
        input(type="password" placeholder="Enter Password" name="password" required)
        br
        
        input(type='submit', value='Login')