extends layout

block content
    form(id='form', method='post', action='/signup')
        label(for='username') Username:
        input(type='text', name='username')
        br
        label(for='password') Password:
        input(type='password', name='password')
        br
        label(for='email') Email address:
        input(type='text', name='email')
        br
        label(for='age') Age:
        input(type='text', name='age')
        br
        label(for='answerOne') What is your favorite animal?
        select(name='answerOne')
            option(value='Dog') Dog
            option(value='Cat') Cat
            option(value='Turtle') Turtle
            option(value='Buffalo') Buffalo
        br
        label(for='answerTwo') What is your favorite food?
        select(name='answerTwo')
            option(value='Pizza') Pizza
            option(value='Hamburgers') Hamburgers
            option(value='Tacos') Tacos
            option(value='Chicken Sandwich') Chicken Sandwich
        br
        label(for='answerThree') What is your favorite color?
        select(name='answerThree')
            option(value='Red') Red
            option(value='Blue') Blue
            option(value='Yellow') Yellow
            option(value='Green') Green
        br
        input(type='submit', value='Signup')