extends layout

block content
    form(id='form', method='post', action='/signup')
        <h2>Sign Up</h2>
        <p>Please fill in this form to create an account.</p>
        <hr>
        label(for='username') <b> Username: </b>
        input(type="text" placeholder="Enter Username" name="username" required)
        br
        label(for='password') <b> Password: </b>
        input(type="text" placeholder="Enter Password" name="password" required)
        br
        label(for='email') <b> Email address: </b>
        input(type="text" placeholder="Enter Email" name="email" required)
        br
        label(for='age') <b> Age: </b>
        input(type="text" placeholder="Enter Age" name="age" required)
        br
        label(for='answerOne') <b> What is your favorite animal? </b>
        select(name='answerOne')
            option(selected disabled hidden style='display: none')
            option(value='Dog') Dog
            option(value='Cat') Cat
            option(value='Turtle') Turtle
            option(value='Buffalo') Buffalo
        br
        label(for='answerTwo') <b> What is your favorite food? </b>
        select(name='answerTwo')
            option(selected disabled hidden style='display: none')
            option(value='Pizza') Pizza
            option(value='Hamburgers') Hamburgers
            option(value='Tacos') Tacos
            option(value='Chicken Sandwich') Chicken Sandwich
        br
        label(for='answerThree') <b> What is your favorite color? </b>
        select(name='answerThree')
            option(selected disabled hidden style='display: none')
            option(value='Red') Red
            option(value='Blue') Blue
            option(value='Yellow') Yellow
            option(value='Green') Green
        br
        input(type='submit', value='Signup')
        <p>By creating an account you agree to our <a href="#" style="color:dodgerblue">Terms & Privacy</a>.</p>