
body {
    margin: auto;
    padding: 0px;
    text-align: center;
    background-color: #a1b5d8;
}

#menu_container {
    display: flex;
    height: 50px;
    line-height: 50px;
    text-align: center;
    flex-direction: row;
    background-color: #8888;
    color: black;
    padding:1%;
}

.menu_item {
    flex: 1;
    border: 1px black;
}

.menu_item:hover {
    cursor: pointer;
    background-color: #8888;
}

a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: larger;
}

ul {
    display: inline-block;
    text-align: left;
}

input {
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1; 
}

form {
  font-family: Arial, Helvetica, sans-serif;
  padding: 2%;
  background-color: #fff;
  margin: 5% auto 15% auto; 
  border: 9px solid #888;
  width: 80%;
  margin-bottom:5%;
}

input[type=submit]{
    background-color: #4CAF50;
    color: #fff;
    padding: 12px 20px;
    margin: 20px 0;
    border: none;
    cursor: pointer;
    width: 30%;
    opacity: 0.9;
    font-size: larger;
}

input[type=submit]:hover{ 
    opacity: 2;
}

input[type=text] {
    padding: 15px;
    border: none;
    background: #f1f1f1;
    width:100%;
  }
  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }
   